@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
}

.box {
    width: 700px;
    display: flex;
    margin-top: 200px;
    border-radius: 10px;
}

.image {

width: 50%;
height: 500px;


}

.photo {
    width: 100%;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}

.description {
    width: 50%;
    background-color: white;
    border-radius: 0px 10px 10px 00px;
    
}

.perfume {
    margin: 30px 0px 20px 40px;
}
.perfume h2{
    color: #a7a8ac;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.gabi {
    width: 250px;
    margin: 0px 0px 30px 40px;
    font-size: 20px;
    font-family: 'Fraunces', serif;
}


.text {
    width: 250px;
    color: #a7a8ac;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0px 0px 30px 40px;
    line-height: 20px;
}

.price {
    display: flex;

}

.green {
    font-size: 40px;
    color: #3d8168;
    font-family: 'Fraunces', serif;
    margin: 0px 10px 30px 40px;

    }

.gray {
    font-size: 15px;
    color: #a7a8ac;
    font-family: 'Montserrat', sans-serif;
    margin: 15px 10px 30px 10px;

    }

.button:hover  {
    background-color: #63c29f;
}  

.button {
    background-color: #3d8168;
    color: #ffffff;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    background-image: url("./images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 74px 12px;
    background-size: 16px;
    cursor: pointer;
    }



